<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ms.shop.Dao.OrderDao">

	<select id="customerPurchaseList" resultType="com.ms.shop.Vo.OrderVo">
		SELECT * FROM purchase WHERE id = #{id}
	</select>

	<select id="brandPurchaseList" resultType="com.ms.shop.Vo.OrderVo">
		SELECT * FROM purchase WHERE brand = #{brand} AND complete = 0
	</select>
	
	<select id="havePick" resultType="com.ms.shop.Vo.OrderVo">
		SELECT * FROM pick WHERE id = #{id} AND no = #{no}
	</select>
	
	<select id="customerPick" resultType="com.ms.shop.Vo.OrderVo">
		SELECT * FROM pick WHERE id = #{id}
	</select>
	
	<select id="reviewList" resultType="com.ms.shop.Vo.OrderVo">
		SELECT * FROM review WHERE no = #{no}
	</select>
	
	<insert id="pick">
		INSERT INTO pick VALUES (#{no}, #{id})
	</insert>
	
	<delete id="unpick">
		DELETE FROM pick WHERE id = #{id} AND no = #{no}
	</delete>

	<insert id="insertPurchase">
		INSERT INTO purchase (brand, no, name, id, address, phone, complete, date) VALUES (#{brand}, #{no}, #{name}, #{id}, #{address}, #{phone}, 0, now())
	</insert>
	
	<insert id="insertReview">
		INSERT INTO review values (#{no}, #{id}, #{content}, #{image}, now());
	</insert>
	
	<update id="handlingPurchase">
		UPDATE purchase SET complete = 1 WHERE purchaseno = #{purchaseno}
	</update>
	
</mapper>